<IfModule mod_rewrite.c>
RewriteEngine On

```
# If "api" is present in the URL
RewriteCond %{REQUEST_URI} /api/ [NC]
RewriteRule ^ <http://127.0.0.1:5001>%{REQUEST_URI} [P]

# If "api" is not present in the URL (with or without trailing slash)
RewriteCond %{REQUEST_URI} !/api/?$ [NC]

# If there is no trailing slash, redirect to the default page
RewriteCond %{REQUEST_URI} !/$

# Redirect to the default page
RewriteRule ^ <http://127.0.0.1:2366>%{REQUEST_URI}/ [P]

# If REQUEST_URI is not empty and has a trailing slash, proceed with the following rule
RewriteRule ^ <http://127.0.0.1:2366>%{REQUEST_URI} [P]


```

</IfModule>